<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
          It's a ERROR
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>


</body>
</html>
